<section class="ship-intro-module" aria-label="What is a ship?">
  <h3 class="ship-intro-module__title">What's a ship?</h3>
  <div class="ship-intro-module__video">
    <%= render VimeoEmbedComponent.new(video: :what_is_a_ship) %>
  </div>
</section>
