<% if users.any? %>
  <ul class="follow-list">
    <% users.each do |u| %>
      <li class="follow-list__item">
        <%= link_to profile_path(u.display_name), class: "follow-list__link" do %>
          <%= image_tag u.avatar, alt: u.display_name, class: "follow-list__avatar" %>
          <span class="follow-list__name">@<%= u.display_name %></span>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="follow-list__empty"><%= empty_text %></p>
<% end %>
