<% content_for :title, "Ship Project" %>

<div class="ship">
  <%= link_to "← back to Stardance", project_path(@project), class: "ship__back" %>

  <div class="ship__header">
    <div class="ship__titles">
      <span class="ship__eyebrow">Let's ship</span>
      <h1 class="ship__project-name"><%= @project.title %></h1>
    </div>
  </div>

  <p class="ship__subtitle">
    <% case @step %>
    <% when 0 %>
      Here's a refresher on what a ship is
    <% when 1 %>
      Tell the community what you built and what you learnt!
    <% end %>
  </p>

  <div class="ship__body ship__body--step-<%= @step %>">
    <%= yield %>
  </div>
</div>
