<div class="ship__video">
  <%= render VimeoEmbedComponent.new(video: :what_is_a_ship) %>
</div>

<div class="ship__actions">
  <%= render SpecialActionButtonComponent.new(
        text: "Continue",
        href: info_project_ships_path(@project),
        type: :link
      ) %>
</div>
