<button type="submit" name="<%= name %>" value="<%= value %>"
        class="onboarding-choice-card <%= modifier_class %>"
        data-action="click->onboarding-transition#press">
  <span class="onboarding-choice-card__label"><%= content %></span>
</button>
