<section class="weekend">
  <div class="weekend__divider" aria-hidden="true">
    <span class="weekend__divider-line"></span>
    <% 2.times do |i| %>
      <svg class="weekend__divider-sparkle weekend__divider-sparkle--<%= i.zero? ? "left" : "right" %>" viewBox="206.75 4 28.5 38" xmlns="http://www.w3.org/2000/svg" focusable="false">
        <path d="M219.878 4.56347C220.11 3.49747 221.63 3.49747 221.862 4.56347L224.565 16.998C224.635 17.3195 224.856 17.5872 225.159 17.7162L234.99 21.9063C235.813 22.257 235.813 23.4233 234.99 23.774L225.159 27.9642C224.856 28.0932 224.635 28.3609 224.565 28.6824L221.862 41.1169C221.63 42.1829 220.11 42.1829 219.878 41.1169L217.175 28.6824C217.105 28.3609 216.884 28.0932 216.581 27.9642L206.75 23.774C205.927 23.4233 205.927 22.257 206.75 21.9063L216.581 17.7162C216.884 17.5872 217.105 17.3195 217.175 16.998L219.878 4.56347Z" fill="#EEE7BB" />
      </svg>
    <% end %>
  </div>

  <h2 class="weekend__title">
    Get these in a <span class="weekend__title-accent">weekend</span>.
  </h2>

  <p class="weekend__subtitle">By the end of this weekend, you can get something real. Here&rsquo;s what a few hours can get you.</p>

  <ul class="weekend__items">
    <li class="weekend__item weekend__item--blahaj">
      <div class="weekend__item-img-wrap">
        <%= image_tag image_url("landing/weekend/blahaj.png"), class: "weekend__item-img", alt: "IKEA Blåhaj shark plush", loading: "lazy" %>
      </div>
      <span class="weekend__item-label">~13h &middot; ikea blahåj plush</span>
    </li>
    <li class="weekend__item weekend__item--cat-printer">
      <div class="weekend__item-img-wrap">
        <%= image_tag image_url("landing/weekend/cat-printer.png"), class: "weekend__item-img", alt: "Cat thermal printer", loading: "lazy" %>
      </div>
      <span class="weekend__item-label">~5h &middot; cat thermal printer</span>
    </li>
    <li class="weekend__item weekend__item--bubble-tea">
      <div class="weekend__item-img-wrap">
        <%= image_tag image_url("landing/weekend/bubble-tea.avif"), class: "weekend__item-img", alt: "Bubble tea", loading: "lazy" %>
      </div>
      <span class="weekend__item-label">~3h &middot; bubble tea grant</span>
    </li>
  </ul>
</section>
